@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white-primary: #ffffff;
  --c-gray1: rgb(34, 34, 34);
  --primary: #1890ff;
}

@mixin HoverEffect($color, $bg) {
  color: $color;

  font-family: "Open Sans", sans-serif !important;
  position: relative;
  cursor: pointer;
  &:hover {
    color: var(--c-gray1);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    // background-color: #0087ca;
    background-color: $bg;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@mixin CardEffect($origin) {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--white-primary);
  width: 100%;
  position: absolute;
  z-index: -5;
  transform: scaleX(0);
  transition: 0.5s;
  transform-origin: $origin;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  // font-family: "Open Sans", sans-serif !important;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white-primary) !important;
}

.__vartical {
  padding: 3.69rem 0;
}

.flex {
  display: flex;
}
.block {
  display: block;
}
.fw-w {
  flex-wrap: wrap;
}
.fw-wr {
  flex-wrap: wrap-reverse;
}
.jc-c {
  justify-content: center;
}
.jc-fe {
  justify-content: flex-end;
}
.jc-sb {
  justify-content: space-between !important;
}
.ai-c {
  align-items: center;
}
.ai-e {
  align-items: flex-end;
}

.bt-1 {
  border-top: 1px solid #1b2632;
}

.fd-c {
  flex-direction: column !important;
}
.mt-3 {
  margin-top: 1.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-3 {
  gap: 2rem;
}
.gap-5 {
  gap: 3em;
}

.pos-rel {
  position: relative;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

.c-b {
  color: rgb(2, 2, 2);
}
.gray {
  color: #484848;
}
.c-main {
  color: var(--primary);
}
.c-white {
  color: var(--white-primary) !important;
}

.list-none {
  list-style: none;
}

.__img {
  width: 100%;
}
._overflow {
  overflow: hidden;
}

@media (max-width: 767px) {
  .sm-jc-center {
    justify-content: center !important;
  }
}
@media (max-width: 992px) {
  .md-jc-center {
    justify-content: center !important;
  }
}

.bg-white {
  background: var(--white-primary);
}

// ---------------- Dropdown --------------
.__menu {
  li {
    padding: 8px 13px;
    & > * {
      color: black;
      font-size: 0.8rem;
      font-weight: 600;
    }
  }
}
// ---------------- Dropdown --------------

// ----------------------------  buttons ----------------------

.__bt {
  position: relative !important;
  z-index: 5;
  padding: 0.55rem 1.5rem;
  color: #1890ff;
  border: 1px solid #1890ff;
  background: none;
  font-weight: 600;
  cursor: pointer;
  &::before {
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--primary) !important;
    width: 100%;
    position: absolute;
    transform: scaleX(0);
    z-index: -5;
    transition: transform 0.4s;
    transform-origin: center;
  }
  &:hover {
    color: white !important;

    &::before {
      transform: scaleX(1);
    }
  }
}
.__bt__white {
  position: relative !important;
  z-index: 5;
  padding: 0.55rem 1.5rem;
  color: var(--white-primary);
  border: 1px solid var(--white-primary);
  background: none;
  font-weight: 600;
  cursor: pointer;
  &::before {
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--white-primary) !important;
    width: 100%;
    position: absolute;
    transform: scaleX(0);
    z-index: -5;
    transition: transform 0.4s;
    transform-origin: center;
  }
  &:hover {
    color: var(--primary) !important;

    &::before {
      transform: scaleX(1);
    }
  }
}

.__aul_2 {
  @include HoverEffect(white, white);
}

.__auh {
  @include HoverEffect(var(--c-gray1), #0087ca);
}

// --------------------------------

.__branding {
  margin: 0;
  font-weight: 700;
  font-size: 2.3rem;
  span {
    color: var(--primary);
  }
}

.__branding2 {
  margin: 0;
  font-weight: 800;
  font-size: 2.7rem;
  span {
    color: var(--primary);
  }
}

@media (max-width: 767px) {
  .__branding {
    font-size: 2rem;
  }
  .__branding2 {
    font-size: 2.3rem;
  }
}

// -------------------- card  -------------------

.__card__single {
  box-shadow: 0 0 20px 2px #e3e3e3;
  transition: 0.6s !important;
  transform-origin: bottom !important;
  &:hover {
    background: var(--primary);
    h4,
    p {
      color: white;
    }
    h2 {
      background: white !important;
      svg {
        color: var(--primary);
      }
    }
  }
  .__icon__branding {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    left: 50%;
    right: 50%;
    h2 {
      transition: 0.4s;

      background: var(--primary);
      padding: 1rem;
      border-radius: 1rem;
      transform: rotate(45deg);
    }
    svg {
      transition: 0.4s;

      width: 45px;
      height: 45px;
      transform: rotate(315deg);
      color: white;
    }
  }
}

.__card__parents {
  &:hover {
    .plus__box {
      transform: scale(1);
    }
  }
}
.plus__box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1890ff;
  opacity: 0.6;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
}

.__vartical_rag {
  content: "";
  position: absolute;
  bottom: 0;
  left: -150px;
  width: 150px;
  height: 150%;
  opacity: 0.5;
  background-image: linear-gradient(360deg, var(--primary) 40%, #b882fc 100%);
  transform: rotate(40deg);
  transform-origin: bottom right;
}

// --------------- card sevice ----------------

.__card__service {
  position: relative;
  transition: transform 0.5s;
  &::after {
    @include CardEffect(left);
  }
  svg {
    color: var(--primary);
    width: 35px;
    height: 35px;
  }
  &:hover {
    &::after {
      transform: scale(1);
      background: var(--primary);
    }
    color: var(--white-primary);
    h1,
    h2,
    h6 {
      color: var(--white-primary);
    }
    svg {
      color: var(--white-primary);
    }
  }
}

.__card__service__2 {
  position: relative;
  transition: transform 0.5s;
  &::after {
    @include CardEffect(bottom);
  }
  svg {
    color: var(--white-primary);
  }
  &:hover {
    &::after {
      transform: scale(1);
      background: var(--primary);
    }
    h2,
    h5,
    span {
      color: var(--white-primary) !important;
    }
    svg {
      color: var(--white-primary);
    }
  }
}

// ------------------- member card    --------------------

.__member__card__single {
  cursor: pointer;
  img {
    height: 300px;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.4s;
  }
  .__member__overly {
    display: block;
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 20px;
    width: 125px;
    height: 1px;
    background: #e4e0ee;
    top: 0;
    transition: all 0.4s;
    right: -20px;
    &::before {
      transition: all 0.5s ease;

      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      bottom: -4px;
      left: 50%;
      background: var(--primary);
    }
  }
  .__overly__left {
    position: absolute;
    right: -20px;
    top: 0;
    span {
      display: block;
      width: 1px;
      height: 140px;
      background: #e4e0ee;
      top: 0;
      right: 0;
      transition: all 0.4s;

      &::before {
        transition: all 0.5s ease;

        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        left: -4px;
        top: 50%;
        background: var(--primary);
      }
    }
  }

  .__member__links {
    display: flex;
    position: absolute;
    bottom: 90px;
    background: white;
    right: 0;
    transform-style: preserve-3d;
    transform: scaleX(0);
    transition: all 0.4s;
    z-index: 100;
    svg {
      width: 18px;
      height: 18px;
      &:hover {
        color: #1b2632;
      }
    }
  }

  &:hover {
    img {
      transition: all 0.5s ease;
      mix-blend-mode: luminosity;
      transform: scale(1.06);
    }
    .__member__links {
      transform: scaleX(1);
    }
    .__member__overly {
      &::before {
        left: 80%;
      }
    }
    .__overly__left {
      span {
        &::before {
          top: 80%;
        }
      }
    }
  }
}

// -------------------------------
.__bg__liniear {
  background-image: linear-gradient(100deg, var(--primary), rgb(42, 16, 65));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*

  ------------------------------ Software process -----------------------------

*/
.__software__requirment {
  .process__parents__ {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    img {
      width: 100%;
      height: 160px;
    }
    .__proces__span {
      position: absolute;
      top: 35%;
      transform: translate(-50%, -50%);
      right: -50%;
      width: 50%;
      height: 2px;
      background-color: #3c3c3b;
      &::after {
        // content: url(/assets/arrow.svg);
        position: absolute;
        left: 45%;
        transform: rotate(-90deg);
        top: -16px;
        background-color: #f9f9f9;
        height: 35px;
        display: flex;
        align-items: flex-end;
      }
    }
  }
}

@media (max-width: 1100px) {
  .__software__requirment {
    .process__parents__ {
      grid-template-columns: 1fr;
      row-gap: 80px;
      .__proces__span {
        transform: rotate(90deg) translateY(-50%) !important;
        right: calc(50% - 65px) !important;
        width: 130px !important;
        bottom: -40px;
        top: unset;
      }
    }
  }
}

@media (max-width: 1366px) {
  .__software__requirment {
    .process__parents__ {
      .__proces__span {
        width: 40%;
        right: -40%;
      }
    }
  }
}

/*

  ------------------------------ Software process  -----------------------------

*/

/*

  ------------------------------ footer -----------------------------

*/

.__footer__img__box {
  img {
    height: 7rem;
    width: 7rem;
  }
}
.__social__single {
  h1 {
    margin: 0;
  }
  svg {
    color: white;
    margin: 0;
    padding: 0.6rem;
    background: var(--primary);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    transition: 0.5s;
    transform-origin: top;
  }
  &:hover {
    svg {
      background: white;
      color: var(--primary);
    }
  }
}

.__routes__footer {
  .__aul_2 {
    @include HoverEffect(white, var(--primary));
    &:hover {
      color: #0087ca !important;
    }
  }
  a {
    display: inline-block;
  }
}
/*

  ------------------------------ footer -----------------------------

*/
